canvas {
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.div_child {
  width: 250px;
  height: 250px;
  margin: 60px auto;
}

.h1_class {
  font-size: 40px;
  color: rgb(93, 205, 93);
}

.div_child_inner {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin: 0 auto;
}

.h2_class {
  font-size: 20px;
  color: rgb(247, 248, 244);
}
h3 {
  font-size: 20px;
  color: rgb(247, 248, 244);
  line-height: 19px;
}
button {
  background-color: white;
  border: 3px solid black;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: 15px;
  width: 80px;
  height: 40px;
}
